<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Stock Altered-AI Powered</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/firsted.css' %}">
</head>
<body>
    <header class="header">
    <div class="top">MINT STREET</div>
    <nav>
        <a href="#">Home</a>
        <a href="#">How It Works</a>
        <a href="#">Example Signals</a>
        <a href="#">Feauture/Benifits</a>
        <a href="login"><button id="b1">Log In</button></a>
        <button id="b1">Sign up</button>
    </nav>
    </header>
    
    <div class="container">
       <h1 id="head"> The World's Most </h1>
       <h1 id="head2"><span class="profi">Profitable</span> Stock Notifier</h1>
       <h3 id="headdown">Trusted By 100,000+ Swing Traderes Since 2017.</h3>
       <button id="btn2">Try 7 Days Free</button>
    </div>

    <div class="part2">
        <div class="left-side">
            <p id="pp1">Buy below: <span id="amt1">$128.16</span></p>
            <p id="pp2">Sell at: <span id="amt2">$132.02</span></p>
        </div>
        <div class="circle">
            <p id="cir">PM</p>
        </div>

        <div class="right-side">
            <p id="pp3">Stop loss: <span id="amt3">115.35</span> </p>
            <p id="pp4">Target gain: <span id="amt4">3.00%</span></p>
        </div>
    </div>
    
    <div class="partner-section">
        <div class="partner-card">
            <img class="partner-logo" src="{% static 'images/rahul.png' %}" alt="Meta Logo">
            <div class="partner-details">
                <span class="partner-name">Meta</span>
                <p class="partner-role">Business Partner</p>
            </div>
        </div>
    
        <div class="partner-card">
            <img class="partner-logo" src="{% static 'images/googl.png' %}" alt="Google Logo">
            <div class="partner-details">
                <span class="partner-name">Google</span>
                <p class="partner-role">Partner</p>
            </div>
        </div>
    </div>

    <div class="part3">
        <div class="part3a">How it <span id="works">works</span></div>
        <div class="secondimg">
            <img class="part3img" src="{% static 'images/vada.PNG' %}" alt="no images">
        </div>

        <div class="try7days">
            <button id="btn3">Try 7 days free</button>
        </div>
    </div>

    <div class="part4">
        <div class="part4a">
        <p id="example">Example <span id="Signals">Signals</span></p>
        </div>
        
        <div class="part5">
            <div class="part52">
            <div class="cir">
                <p id="cma">INFY</p>
                <p id="date">Nov 22, 2024</p>
            </div>
            </div>

            <div class="part51">
                <p id="inside">Buy below: <span id="span1">💰72.45</span></p><br>
                <p id="inside">Sell at: <span id="span2">💰72.45</span></p>
            </div>

            <div class="part53">
                <p id="inside">Buy below: <span id="span1">💰72.45</span></p><br>
                <p id="inside">Target-gain: <span id="span2">💰72.45</span></p>
            </div>

        </div>
        
        <div class="part5">
            <div class="part52">
            <div class="cir">
                <p id="cma">ICICI</p>
                <p id="date">Nov 22, 2024</p>
            </div>
            </div>

            <div class="part51">
                <p id="inside">Buy below: <span id="span1">💰72.45</span></p><br>
                <p id="inside">Sell at: <span id="span2">💰72.45</span></p>
            </div>

            <div class="part53">
                <p id="inside">Buy below: <span id="span1">💰72.45</span></p><br>
                <p id="inside">Target-gain: <span id="span2">💰72.45</span></p>
            </div>

        </div>

        <div class="part5">
            <div class="part52">
            <div class="cir">
                <p id="cma">TATA</p>
                <p id="date">Nov 22, 2024</p>
            </div>
            </div>

            <div class="part51">
                <p id="inside">Buy below: <span id="span1">💰72.45</span></p><br>
                <p id="inside">Sell at: <span id="span2">💰72.45</span></p>
            </div>

            <div class="part53">
                <p id="inside">Stop-loss: <span id="span1">💰72.45</span></p><br>
                <p id="inside">Target-gain: <span id="span2">💰72.45</span></p>
            </div>

        </div>

        <div class="part5">
            <div class="part52">
            <div class="cir">
                <p id="cma">WIPRO</p>
                <p id="date">Nov 21, 2024</p>
            </div>
            </div>

            <div class="part51">
                <p id="inside">Buy below: <span id="span1">💰72.45</span></p><br>
                <p id="inside">Sell at: <span id="span2">💰72.45</span></p>
            </div>

            <div class="part53">
                <p id="inside">Buy below: <span id="span1">💰72.45</span></p><br>
                <p id="inside">Target-gain: <span id="span2">💰72.45</span></p>
            </div>

        </div>

        <div class="part5">
            <div class="part52">
            <div class="cir">
                <p id="cma">HDFC</p>
                <p id="date">Nov 21, 2024</p>
            </div>
            </div>

            <div class="part51">
                <p id="inside">Buy below: <span id="span1">💰72.45</span></p><br>
                <p id="inside">Sell at: <span id="span2">💰72.45</span></p>
            </div>

            <div class="part53">
                <p id="inside">Buy below: <span id="span1">💰72.45</span></p><br>
                <p id="inside">Target-gain: <span id="span2">💰72.45</span></p>
            </div>
        </div>
        <div class="but4">
            <button id="try7daysfree2">Try 7 days free</button>
        </div>

    </div>

    <div class="part6b">
        <p id="part61">Features</p>
        <p id="part62">Hedge fund quality strategies for everyone.</p>
    </div>

    <div class="part6">
        <div class="part6a">
            <img class="part6img" src="{% static 'images/Capture.PNG' %}" alt="no images">
        </div>
        
        <div class="part6c">
            <P id="buyandsell">Buy & Sell Signals</P>
            <p id="buyandsel2">Reacive alerts on different technical</p>
            <p id="buyandsel3"> indicatores such as SMA ,RSI, or price action!</p>
            <button id="btn6">Try 7 days free</button>
        </div>
    </div>
    
    <div class="part7">
        <div class="part7a">
            <p id="part7c">You’re 1 step away from powerful</p>
            <p id="part7c">stock signals.</p>
        </div>

        <div class="part7d">
            <input id="input1" type="text" placeholder="Email"><br>
            <input id="input2" type="text" placeholder="Password">
        </div>

        <div class="button7">
            <button id="btn7">Signup</button>
            <p id="acco">have an account ? <a href="#">Sign in</a></p>
        </div>
    </div>

    <div class="part8">
        <div class="eight1">
            <div class="eight2">
                <p id="alf">AFL</p>
            </div>
            <p id="dte1">Nov 11, 2024</p>
            <p id="amt12">$113.69</p>
        </div>

        <div class="eight1">
            <div class="eight2">
                <p id="alf">AFL</p>
            </div>
            <p id="dte1">Nov 11, 2024</p>
            <p id="amt12">$113.69</p>
        </div>


        <div class="eight1">
            <div class="eight2">
                <p id="alf">AFL</p>
            </div>
            <p id="dte1">Nov 11, 2024</p>
            <p id="amt12">$113.69</p>
        </div>

        <div class="eight1">
            <div class="eight2">
                <p id="alf">AFL</p>
            </div>
            <p id="dte1">Nov 11, 2024</p>
            <p id="amt12">$113.69</p>
        </div>

        <div class="eight1">
            <div class="eight2">
                <p id="alf">AFL</p>
            </div>
            <p id="dte1">Nov 11, 2024</p>
            <p id="amt12">$113.69</p>
        </div>
    </div>
  
</body>
</html>








