<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoneyMap Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/signupsucc.css' %}">
</head>
<body>
    <div class="overlay">
        <div class="alert">
            <h1>Welcome to Mint Street</h1>
            <p>Stay informed with real-time stock alerts for timely buy and sell decisions.</p>
            <div class="tick-icon">Account Created Sucessfully✔</div>
                                      
        </div>
    </div>

    <!-- Redirecting to the index page after 5 seconds -->
    <script>
        // Set a 5-second delay and redirect to the index page
        setTimeout(function() {
            window.location.href = "{% url 'login' %}";  // Redirect to the login page (index.html)
        }, 5000); // 5000 milliseconds = 5 seconds
    </script>
</body>
</html>
